.container {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 2rem;
  }

  .formControl {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    input,
    textarea {
      padding: 0.5rem;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 20px;
    }

    textarea {
      height: 150px;
    }
  }
  button {
    padding: 0.3rem;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #000;

    &:hover {
      background-color: #ccc;
    }
  }
}
