.backBtn {
  padding: 0.2rem 1rem;
  font-size: 30px;
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  background-color: #ccc;
  border: none;
  &:hover {
    background-color: #aaa;

  }
}
.book {
  display: flex;
  gap: 1rem;
  img {
    margin: 1rem 0;
    height: 500px;
    width: 300px;
    border-radius: 12px;
    object-fit: cover;
  }

  .infos {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    h3 {
      font-size: 20px;
      margin-bottom: 0.5rem;
    }

    h4 {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    p {
      font-style: italic;
    }

    .actions {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .inputControl {
        display: flex;
        gap: 0.3rem;
      }

      button {
        color: red;
        background-color: #fff;
        padding: 0.3rem 0.5rem;
        border: none;
        width: fit-content;
        font-style: italic;
        cursor: pointer;
      }
    }
  }
}

.notes {
  padding-left: .5rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;

  .note {
    background-color: #ccc;
    border-radius: 12px;
    padding: 0.5rem;
    max-width: 60%;
  }

  .addNote {
    margin-top: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor:pointer;
    padding: .3rem;
    &:hover {
      color: #555;
    }
  }

  .addNoteContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    .formControl {
      display: flex;
      flex-direction: column;
      gap: .3rem;
      margin-bottom: 1rem;

      input, textarea {
        padding: .5rem;
        border-radius: 12px;
        border: 2px solid #888;
      }
    }
    button {
      padding: .5rem;
      border-radius: 12px;
      border: 2px solid #888;
      cursor: pointer;
      &:hover {
        background-color: #000;
        color: #fff;
        border-color: #000;
      }
    }
  }
}
