.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    .options {
        display: flex;
        margin-top: 1rem;
        justify-content: space-around;
        width: 400px;

        .option input {
            display: none;
        }

        .option input + label{
            padding: .3rem .6rem;
            background-color: #ccc;
            border-radius: 16px;
            cursor: pointer;
        }
        .option input[type="radio"]:checked + label{
            color: #fff;
            background-color: #000;
        }
    }
    .forgotPassword {
        cursor: pointer;
        border: none;
        background: none;
        width: 400px;
        text-align: right;

        &:hover {
            color: #555;
        }
    }
}